@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: hsl(233, 14%, 35%)
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: hsl(235, 24%, 19%)
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: hsl(233, 14%, 35%)
}


/* Navbar css */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 16px 20px;
    box-sizing: border-box;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 10px;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right span {
    margin-right: 20px;
}

.navbar-right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* Form Css */
.form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 15px;
    width: 500px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(231, 241, 248, 0.306)
}

.form-group {
    margin-bottom: 20px;
}

.form-group label{
    width: 25%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.form-input {
    width:100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #31cb37;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.form-button-cancel {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    margin-right: 10px;
}


.sort-btn{
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(0, 119, 255);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* product-list.css */

.product {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
}

.product_left {
    width: 50%;
    display: flex;
    gap: 10px;
}

.product_left .product-name {
    font-size: 22px;
    font-weight: 600;
}

.product_left .product-price {
    width: fit-content;
    margin-top: 10px;
    padding: 4px 8px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.717);
    color: white;
    font-weight: 600;
}

.product_left img {
    width: 200px;
    height: 200px;
    object-fit:contain;
    border-radius: 10px;
}

.product .product_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
}


.product .product_right>div {
    display: flex;
    justify-content: flex-end   ;
    gap: 20px;
}


.product .product_right>div button {
    width: fit-content;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color: snow;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.product .product_right>div button:hover{
    background-color: rgb(231, 231, 231);
}
.product .product_right>div button img{
    width: 20px;
}


/* confirm-modal */

.confirm-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(50, 50, 50, 0.687);
    /* Black w/opacity/see-through */
}

.confirm-modal .modal-box>h4 {
    font-weight: 500;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 33px;
}

.confirm-modal .modal-box>.modal-btns {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
}

.confirm-modal .modal-box>.modal-btns button {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
}


/* Cart page */
.cart-product p{
    font-size: 16px;
    margin-bottom: 5px;
}
.remove-btn{
    font-size: 14px;
    font-weight: 600;
    padding:4px 8px;
    color: white;
    background-color: rgba(255, 0, 0, 0.717);
    border: none;
    border-radius: 10px;
}
